<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mswareg - Seus Feedbacks</title>
    <link rel="stylesheet" href="/css/feedbacksReportsScreen.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/menuSettingsButton.css">
    <link rel="icon" href="/img/logo.jpeg">

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2467408169618011"
        crossorigin="anonymous"></script>

</head>
<body>

    <%- include('./partials/floatingMenu.ejs') %>

    <input type="hidden" id="userId" value="<%=userData.id%>">

    
    <div id="feedbackReportScreen">
        <!-- container feedback-Report or FR -->
        <div id="containerFR">
            
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="feedbacks-tab" data-toggle="tab" href="#feedbacks" role="tab" aria-controls="feedbacks"
                        aria-selected="true" onclick="listFeedbackReports('feedbacks')">Feedbacks</a>
                </li>
                <% if(mod){%>
                    <li class="nav-item">
                        <a class="nav-link" id="reports-tab" data-toggle="tab" href="#reports" role="tab" aria-controls="reports"
                            aria-selected="false" onclick="listFeedbackReports('reports')">Reports</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="withdraw-tab" data-toggle="tab" href="#withdraw" role="tab" aria-controls="withdraw"
                            aria-selected="false" onclick="listFeedbackReports('withdraw')">withdrawal list</a>
                    </li>
                    <%}%>
                <div class="listFeedbacks-reports" id="feedbacksList">
                    <% feedbackList.forEach(item=>{%>

                        <div onclick="openSelection('feedback', '<%=item.id%>')">
                            
                            usuário: <%= item.username %> <br>
                            Jogo: <%= item.title %>
                        </div>

                    <%})%>
                    
                    <!-- <i onclick="limitList()" class="fa-solid fa-rotate-right loadIcon"></i> -->
                </div>
                
                <div class="listFeedbacks-reports" id="reportsList">
                    <!-- APENAS PARA MODERADORES! -->



                    <% if(typeof(reportsList) != 'undefined'){reportsList.forEach(item=>{%>

                        <div onclick="openSelection('report', '<%=item.ideaId%>', '<%=item.reports%>','<%=item.categorieReport%>')">
                            De: <%= item.reports %> users <br>
                            Jogo: <%= item.title %> <%= item.ideaId %>
                            categoria: <%= item.categorieReport %>
                        </div>

                    <%})}%>

                </div>

                <div class="listFeedbacks-reports" id="withdrawList">
                    <!-- APENAS PARA MODERADORES! -->
                
                
                
                    <% if(typeof(withdrawalList) !='undefined' ){withdrawalList.forEach(item=>{%>
                
                        <div id="withdrawDiv<%=item.id%>" onclick="openSelection('withdraw', '<%=item.userId%>')">
                            userId: <%=item.userId%> <br>
                            Email: <%=item.email%> <br>
                            Valor: <%=item.valueReq%> <br>
                        </div>
                
                        <%})}%>
                
                </div>


            </ul>
            <div class="tab-content" id="myTabContent">
                
                <div class="tab-pane fade show active" id="feedbacks" role="tabpanel" aria-labelledby="feedbacks-tab">
                    <div class="tab-container" id="feedbacks-tab-container">
                        <i onclick="returnToList()" class="fa-solid fa-arrow-left"></i>
                        
                    </div>
                </div>
                <div class="tab-pane fade" id="reports" role="tabpanel" aria-labelledby="reports-tab">
                    <div class="tab-container" id="reports-tab-container">
                        <div>
                            <i onclick="returnToList()" class="fa-solid fa-arrow-left"></i>
                            <h1>REPORT</h1>
                            
                            
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="withdraw" role="tabpanel" aria-labelledby="withdraw-tab">
                    <div class="tab-container" id="withdraw-tab-container">
                        <div>
                            <i onclick="returnToList()" class="fa-solid fa-arrow-left"></i>
                            <h1>WITHDRAW</h1>
                
                
                        </div>
                    </div>
                </div>
                
                
            </div>
        </div>

    </div>


</body>
<script src="/js/menuSettingsButton.js"></script>
<script>
    createMenuSettingsButton(20, 435)
</script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

<script src="https://kit.fontawesome.com/4fd5a3a7ad.js" crossorigin="anonymous"></script>


<script src="/js/reportsFeedbacksScreen.js">
</script>

</html>