
<!DOCTYPE html>
<html lang="en">
<head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2467408169618011"
        crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/nextPreview.js"></script>
    
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/navbarCss.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/menuSettingsButton.css">

    <!-- style report - feedback screen -->
    <link rel="stylesheet" href="/css/reportFeeback.css">
    <!--/// style report - feedback screen -->
    
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Home</title>
</head>
<body>
    <input type="hidden" id="userId" value="<%=id%>">
    
    <%- include('./partials/header.ejs') %>
    <% if(typeof(maxIdeasWriten) !='undefined' ){ %>
        <div class="errorMsg">
            <b>
                Você não pode mais escrever. Espere a proxima temporada, ou compre um ticket de escrita! :)
            </b>
        </div>
        <%}%>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2467408169618011"
            crossorigin="anonymous"></script>
        <!-- responsivo largo -->
        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2467408169618011" data-ad-slot="2422349946"
            data-ad-format="auto" data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    
    
    <!--   ---MENU---    -->
    
    <%- include('./partials/floatingMenu.ejs') %>
    
    
    <!-- ////////////  ---MENU---    -->
    
    
    
    <!-- FEEDABCK - REPORT SCREEN  -->
    
    <input type="hidden" id="reportCategorie">

        <div id="report-feedback-modal" >

            <div id="report-feedback-container">
                <div class="actions-header">
                    <div>
                        <i onclick="getPreviewPage()" class="fa-solid fa-arrow-left" style="display: none;"></i>
                        <i onclick="closeModal('report-feedback-modal')" class="fa-solid fa-x"></i>
                    </div>
                </div>
                <div id="select-action">
                    <ul>
                        <li id="feedbackAction" onclick="selectAction('feedback')">Feedback <i class="fa-regular fa-comment" style="font-size: 20px;"></i></li>
                        <li id="reportAction" onclick="selectAction('report')">Report <i onclick="console.log('report')" style="color: rgb(168, 25, 25); font-size: 20px;" class="fa-solid fa-flag"></i></li>
                    </ul>
                </div>

                <div id="pages">
                    <div id="report-page">
                        <h1>report</h1>

                        <div id="report-option">
                             <ul>
                                <li onclick="selectReportCategorie('spam')">Spam</li>
                                <li onclick="selectReportCategorie('ofensivo')">Ofensivo</li>
                                <li onclick="selectReportCategorie('SI')">Sexualmente inapropriado</li>
                                <li onclick="selectReportCategorie('suspeito')">Suspeito</li>
                                <li onclick="selectReportCategorie('PI')">Proibido ou infrigido</li>
                                <li onclick="selectReportCategorie('FG')">Fraude ou golpe</li>
                                <li onclick="selectReportCategorie('outros')">Others</li>

                            </ul>
                        </div>
                            <div id="report-form">
                                <div class="form-feedback-report">
                                    <textarea name="" id="report-textArea" class="feedback-report-textArea" cols="30" rows="10"></textarea>
                                    <h4>Ideia Reportada:</h4>
                                    <p class="insertIdeaName">"NOME DO JOGO"</p>
                                    <button class="green-button sendReport">ENVIAR!</button>
                                </div>
                            </div>

                    </div>

                    <div id="feedback-page">
                        <h1>Feedback</h1>
                        <textarea name="" class="feedback-report-textArea" id="feedback-textArea" cols="30" rows="10"></textarea>
                        <div class="form-feedback-report">
                            <h4>Jogo qual enviará o feedback:</h4>
                            <p class="insertIdeaName">"NOME DO JOGO"</p>
                            <button class="green-button sendFeedback">ENVIAR!</button>
                        </div>

                    </div>
                </div>

            </div>

            

        </div>


    <!-- ////////// FEEDABCK - REPORT SCREEN   -->



    <!-- FILTER BUTTON -->
    <span onclick="openFilterModal()" class="filter-icon"><i class="fa-solid fa-filter"></i></span>

    <div class="filter">
        <span onclick="closeFilterModal()">X</span>
        <div class="filter-box">
            priorizar: <br>
            
                <div class="filter-itens">

                    <div class="filter-group">
                        <label class="filter-item" onclick="checkFilterItem('non-filter')">
                            non-filter<input name="non-filter" type="checkbox"><br>
                        </label>
                    </div>
                    
                    <div class="filter-group">
                        <label class="filter-item" onclick="checkFilterItem('liked-by-you')">
                            liked-by-you<input name="liked-by-you" type="checkbox"><br>
                        </label>
                        <label class="filter-item" onclick="checkFilterItem('non-liked-by-you')">
                            non-liked-by-you<input name="non-liked-by-you" type="checkbox"><br>
                        </label>
                    </div>

                    <div class="filter-group" >
                        <label class="filter-item" onclick="checkFilterItem('most-liked')">
                            most-liked<input name="most-liked" type="checkbox"><br>
                        </label>
                        <label class="filter-item" onclick="checkFilterItem('less-liked')">
                            less-liked<input name="less-liked" type="checkbox"><br>
                        </label>
                    </div>
                    
                    <div class="filter-group">
                        <label class="filter-item" onclick="checkFilterItem('most-recent')">
                            most-recent<input name="most-recent" type="checkbox"><br>
                        </label>
                        <label class="filter-item" onclick="checkFilterItem('older')">
                            older<input name="older" type="checkbox"><br>
                        </label>
                    </div>


                    <div class="filter-group">
                        <label class="filter-item" onclick="checkFilterItem('ASC')">
                            ASC<input name="ASC" type="checkbox"><br>
                        </label>
                        <label class="filter-item" onclick="checkFilterItem('DESC')">
                            DESC<input name="DESC" type="checkbox"><br>
                        </label>
                    </div>

                    <div class="filter-group">
                        <label class="filter-item" onclick="checkFilterItem('Bit-Invested')">
                            Bit-Invested<input name="Bit-Invested" type="checkbox"><br>
                        </label>
                        <label class="filter-item" onclick="checkFilterItem('Most-Invested')">
                            Most-Invested<input name="Most-Invested" type="checkbox"><br>
                        </label>
                    </div>

                    <div class="filter-group">
                        <label class="filter-item" onclick="checkFilterItem('most-investment-required')">
                            most-investment-required<input name="most-investment-required" type="checkbox"><br>
                        </label>
                        <label class="filter-item" onclick="checkFilterItem('lower-investment-required')">
                            lower-investment-required<input name="lower-investment-required" type="checkbox"><br>
                        </label>
                    </div>

                    <button class="green-button" onclick="applyFilter()">APLICAR</button>

                </div>

        </div>

    </div>
    <!-- FILTER BUTTON -->

        <div class="searchBar">
            
                <input id="search" type="text" placeholder=" &#xF002;">
                <button onclick="searchIdea()" id="buttonSeach"><i class="fa-solid fa-magnifying-glass"></i></button>
                
        </div>


    <!--POSTS PART-->
    <div class="container">
        <div class="posts">
            <!--CARDS-->
            <% if(posts != undefined){ posts.forEach(item=>{ %>
               
                <div id="<%= item.id %>" style="background-image:url('<%= item.imageUrl %>') ;" class="post-card" >
                    <div class="card-header"  onclick="openIdeaModal('<%= item.id %>')">
                        
                       <h2><%= item.title %></h2>
                       <p><%=item.ideaSummary%></p>
                       
                    </div>
                    
                    <i onclick="openModal('report-feedback-modal', '<%=item.id%>', '<%= item.allowFeedback %>')" style="color: rgb(168, 25, 25); font-size: 20px;" class="fa-solid fa-flag"></i>
                    <div class="card-img">
                      
                    </div>
                    <div class="card-info">
                        <i onclick="likePub('<%= item.id %>')" class="fa-solid fa-heart like"></i>
                        <div>
                            <p><%= item.initialAmountRequired %></p>
                            <progress value="<%=item.investment%>" max="<%= item.initialAmountRequired %>"></progress>
                        </div>
                            <i onclick="favoritePub('<%= item.id %>')" class="fa-solid fa-star like"></i>
                    </div>
                </div>
           <% })}else{ %>
                <div>
                    HMMMM... sem ideias por enquanto.
                </div>
           <%} %>

        

            <!--////CARDS-->

            
           
            
        </div>
        <%- include('./partials/buttonNextPrevious.ejs') %>
    </div><br><br><br><br><br><br><br>


        <%- include('./partials/modal.ejs') %>

        <%- include('./partials/footer.ejs') %>

</body>

<script src="https://kit.fontawesome.com/4fd5a3a7ad.js" crossorigin="anonymous"></script>
<script src="/js/menuSettingsButton.js">
    
</script>

<script src="/js/filter.js"></script>
<script src="/js/getNavDown.js"></script>
<script src="/js/nextPreview.js"></script>
<script src="/js/modal.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js">

    
</script>

<script src="/js/idea.js">    
</script>
<script src="/js/home.js" >
</script>


<script src="/js/search.js">
</script>
<script src="/js/reportFeedback.js">
</script>

</html>