<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Compartilhe a ideia :)</title>


    <link rel="icon" href="/img/logo.jpeg">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/textEditor.css">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-V874Y4SK29"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-V874Y4SK29');
    </script>

</head>

<body>

    <input id="userId" type="hidden" value="<%=userId%>">
    <%if(typeof post != 'undefined'){%><input id="pubId"type="hidden" value="<%=post.id%>"><%}%>
    <div class="container">
        <h1>ESCREVA SUA IDEIA</h1>
        <div class="inputs-editor">
            <label class="label" for="content-title">
                <input id="content-title" class="content-title" type="text" placeholder="title" <%if(typeof post != 'undefined'){%>value="<%=post.title%>"<%}%> >
                <span class="length-left">left: </span>
            </label>
            <br>
            <label class="label" for="content-summary">
                <textarea class="content-summary" placeholder="summary"><%if(typeof post != 'undefined'){%><%=post.ideaSummary%><%}%></textarea>
                <span class="length-left">left: </span>
            </label>
        </div>
        <br>

        <div class="content-container">
            <div id="content" contenteditable="true"><%if(typeof post !='undefined' ){%> <%- post.mainIdea%> <%}%></div>

            <div class="editor-buttons">
                <button onclick="renderContent()">
                    <b>R</b>
                </button>




                <button class="titleInsert" onclick="titleInsert()">
                    h1
                </button>
                <button class="boldInsert" onclick="boldInsert()">
                    bold
                </button>
                <div id="inputFile-div">
                    <label for="inputFile" class="inputFile-label">
                        <i class="fa-solid fa-image"></i>

                        <input type="file" id="inputFile">
                    </label>
                    <input type="text" id="imgHeight" value="30" placeholder="img size">
                    <button class="imgInsert" onclick="teste3(parseInt(document.getElementById('imgHeight').value))">
                        inserir img
                    </button>
                </div>
            </div>
        </div><br>
        <button class="finish-button"
            onclick="loadRequiredFields()">FINALIZAR</button>
    </div>



    <!--MODAL-->
        
    <div id="modal" style="display: none;">
        
        <div id="card-modal-info">
            <span class="closeModal" onclick="closeModal('modal', null, false)">X</span>
            <div>
                <div class="main-card-info">
                    <div class="card-modal-images">
                        <% if(typeof post != 'undefined'){
                            const imagesReverse = post.images.reverse()
                            imagesReverse.forEach(i=>{%>
                                <img class="imgAdded" src="<%=i.url%>" height="200px">
                            <%})}%>
                        <img id="addImageButton" src="/img/addimg.png" alt="" height="200px">
                        <input type="file" id="imageFile">
                    </div>
                    <div class="main-info">
                        <div class="model-title">
    
                        </div>
                        <div class="model-sub">
    
                        </div>
                    </div>
                </div><br>
    
    
                <div class="bottom-info">
                    <div class="card-modal-idea">
    
                    </div>
    
                    <div class="game-idea-buttons">
                        <button class="actionButton"><i class="fa-solid fa-hand-holding-dollar"></i></button>
                        <button class="actionButton"><i class="fa-solid fa-scroll"></i></button>
                    </div>
    
                    
                    
                </div>
            </div>
        </div>
        
    </div>

    <!--////////////MODAL-->


    <!-- MODAL DE FINALIZAÇÃO  -->

    <div id="finish-modal">

        <div class="finish-modal-container">
            <span style="cursor: pointer;"
                onclick="document.getElementById('finish-modal').style.display= 'none'"><b>X</b></span>
            <h1>Finalizar ideia</h1>

            Categoria:
            <select id="categoryId">
                <option value="1">APP</option>
                <option value="2">Game</option>
                <option value="3">Action</option>
                <option value="4">Fantasy</option>
                <option value="5">History</option>
                <option value="6">Tech</option>
                <option value="7">War</option>
                <option value="8">Sports</option>
                <option value="9">VR</option>
                <option value="10">Just an idea</option>
                <%if(userData.role == 1){%><option value="11">Trend</option><%}%>
            </select>
            

            PERMITIR FEEDBACKS??? <input type="checkbox" id="allowFeedback"> 

            <!--
            <input class="category-input" type="text" placeholder="category #" value="#">

            36h semanais
            <div class="pro-choise">
                <div class="pro-buttons"><button onclick="proChoise(0,1)"><i
                            class="fa-solid fa-angle-left"></i></button><span class="pro-1">Dev Aprendiz: </span><button
                        onclick="proChoise(1,1)"><i class="fa-solid fa-angle-right"></i></button></div>
                <div class="pro-buttons"><button onclick="proChoise(0,2)"><i
                            class="fa-solid fa-angle-left"></i></button><span class="pro-2">Dev Júnior: </span><button
                        onclick="proChoise(1,2)"><i class="fa-solid fa-angle-right"></i></button></div>
                <div class="pro-buttons"><button onclick="proChoise(0,3)"><i
                            class="fa-solid fa-angle-left"></i></button><span class="pro-3">Dev Pleno: </span><button
                        onclick="proChoise(1,3)"><i class="fa-solid fa-angle-right"></i></button></div>
                <div class="pro-buttons"><button onclick="proChoise(0,4)"><i
                            class="fa-solid fa-angle-left"></i></button><span class="pro-4">Dev Sênior: </span><button
                        onclick="proChoise(1,4)"><i class="fa-solid fa-angle-right"></i></button></div>
                <div class="pro-buttons"><button onclick="proChoise(0,5)"><i
                            class="fa-solid fa-angle-left"></i></button><span class="pro-5">Web Designer: </span><button
                        onclick="proChoise(1,5)"><i class="fa-solid fa-angle-right"></i></button></div>

            </div>

            <div><input type="checkbox" id="vr-check" onclick="proChoise(-1,-1)">VIRTUAL REALITY</div>

            <br><br>
            <span class="inicialAmount">investimento necessário <br> para inicar produção: 0$ por semana</span>
        -->
            <button onclick="document.getElementById('areusure').style.display = 'flex'"
                class="finish-button">FINISH</button>
            <div id="areusure" style="display: none;">
                <b>are u sure?</b> <button <%if(typeof post != 'undefined'){%>onclick="confirmEditIdea()"<%}else{%> onclick="send()"<%}%> style="background-color: transparent; border: none;">Yes</button>
            </div>
            <button class="finish-info-button"
                onmouseover="document.getElementsByClassName('span-pro')[0].style.display = 'inline'"
                onmouseleave="document.getElementsByClassName('span-pro')[0].style.display = 'none'">
                <span class="span-pro">você pode mudar os profissionais do<br> projeto semanalmente</span>
                <i class="fa-solid fa-info"></i>
            </button>
            obs: há muito espaço pq essa parte não está finalizada. Precisamos evoluir um pouco mais o público do sistema para adicionarmos o que será adicionado. Será algo grande, eu prometo!
        </div>

    </div>


    <!-- MODAL DE FINALIZAÇÃO  -->





</body>


<script src="/js/textEditor.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js">
</script>


<script src="/js/modal.js"></script>
<script src="https://kit.fontawesome.com/4fd5a3a7ad.js" crossorigin="anonymous"></script>

</html>