<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/menuSettingsButton.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/wallet.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js">
    </script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-V874Y4SK29"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-V874Y4SK29');
    </script>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2467408169618011"
        crossorigin="anonymous"></script>

    <title>Financeiro - Mswareg</title>
    <link rel="icon" href="/img/logo.jpeg">

</head>
<body>
    <input type="hidden" id="userId" value="<%=userData.id%>">
    <input type="hidden" id="currentCredits" value="<%=userData.credits%>">
    <input type="hidden" id="pixKey"value="<%=userData.pixKey%>">
    
    <div id="modal-payment-method">
        <div class="payment-method-container">
            <p id="waitpls">qrcode está sendo gerado, por favor espere!</p>
            <button class="red-button" onclick="closeModal('modal-payment-method', null)">Close</button>
            <div id="qrcodeArea">
                
            </div>
            <input type="text" id="qrcodeTxt">
            
            <button class="btn-to-copy green-button" data-clipboard-target="#qrcodeTxt">
                <p>Copiar</p>
            </button>
        </div>
    </div>

    <div class="container">
        <h1>Recarregar dinheiro</h1>
        <br>
        <br><br>
        <div class="WalletTable">
            <ul>
                <li>
                    10 R$ <button class="green-button" onclick="fastBuy(10)">COMPRAR</button>
                    <p>Taxa de 2.5%</p>
                </li>
                <li>
                    15 R$ <button class="green-button" onclick="fastBuy(15)">COMPRAR</button>
                    <p>Taxa de 2.5% </p>
                    
                </li>
                <li>
                    30R$ <button class="green-button" onclick="fastBuy(30)">COMPRAR</button>
                    <p>Taxa de 2.5% </p>
                </li>
                <li>
                    50R$ <button class="green-button" onclick="fastBuy(50)">COMPRAR</button>
                    <p>Taxa de 2.5% </p>
                </li>
                <li>
                    100R$ <button class="green-button" onclick="fastBuy(100)">COMPRAR</button>
                    <p>Taxa de 2.5% </p>
                </li>
                <li>
                    1000R$ <button class="green-button" onclick="fastBuy(1000)">COMPRAR</button>
                    <p>Taxa de 2.5% </p>
                </li>
                <li>
                    <input id="recharge" type="number" placeholder="Digite um valor">
                    <p id="automaticTax"></p>
                    <button id="buyButton" class="green-button">COMPRAR</button>
                </li>
                <br>
            </ul>
        </div>
        <br><br><br>
        <h1>Retirar dinheiro</h1>
        <br><br>

        <div class="WalletTable">
            <div class="withdrawClass">
                você tem: <%= userData.credits %>R$ na carteira
                <input id="withdraw" type="number" placeholder="Quanto deseja retirar?">
                <button id="withdrawBtn" class="green-button">Retirar</button>
                <p style="font-size: 20px;">Chave pix cadastrada: <span id="pixKeyText" style="background-color: black; user-select: none;"><%=userData.pixKey%></span> <i onclick="showPixKey()" class="fa-solid fa-eye-slash"></i> </p>
            </div>
        </div> <br><br><br>
        <p>Sobre Retirada: Demora de 10min-2h para você receber o dinheiro em sua carteira.</p>
        <p>Você só pode solicitar 1 retirada por vez. Espere receber o dinheiro em sua carteira caso queira retirar novamente.</p>
    </div>
    <br><br><br><br>
    <%- include('./partials/footer.ejs') %>
<%- include('./partials/floatingMenu.ejs') %>
</body>
<script src="https://kit.fontawesome.com/4fd5a3a7ad.js" crossorigin="anonymous"></script>

<script src="/js/menuSettingsButton.js">
</script>

<script src="/js/clipboard.js-master/dist/clipboard.min.js"></script>
<script src="/js/wallet.js"></script>
<script src="/js/clipboard.js"></script>

<script>
    createMenuSettingsButton(20,390)
</script>

<script src="/js/modal.js"></script>
</html>